/* =========================================================================
   VARIABLES
============================================================================ */
/* COLOR VARIABLES
============================================================================ */
/* FONT VARIABLES
============================================================================ */
/* =========================================================================
   SPACING HELPERS
============================================================================ */
/* MARGIN HELPERS
============================================================================ */
/* MARGIN BOTTOM - SMALL */
.mb-sm {
  margin-bottom: 2rem; }

/* MARGIN BOTTOM - MEDIUM */
.mb-md {
  margin-bottom: 3rem; }

/* MARGIN BOTTOM - LARGE */
.mb-lg {
  margin-bottom: 4rem; }

/* =========================================================================
   MEDIA QUERY
============================================================================ */
/* RESPONSIVE BREAKPOINTS
============================================================================ */
/* Breakpoint largest - 1200px */
/* Breakpoint large - 1000px */
/* Breakpoint medium - 800px */
/* Breakpoint small - 600px */
/* Breakpoint smallest - 450px */
/* =========================================================================
   BASE STYLES
============================================================================ */
/* GLOBAL RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /* BASE FONT STYLES */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  /* BASE FONT STYLES */
  font-family: "Nunito", sans-serif;
  color: #38332e;
  font-weight: 300;
  line-height: 2.25rem; }

/* BODY CONTAINER FOR GRID LAYOUT */
.container {
  /* GRID LAYOUT */
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

/* =========================================================================
   BUTTON STYLES
============================================================================ */
.btn {
  background-color: #c69963;
  color: #f9f7f6;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }
  .btn:active {
    transform: translate(0.2rem, 0.2rem); }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #f9f7f6;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #f9f7f6;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 3rem;
      background-color: #c69963; }
      .nav-btn::before, .nav-btn::after {
        background-color: #c69963; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        transform: translateY(1rem); } }

/* =========================================================================
   TYPOGRAPHY
============================================================================ */
/* HEADINGS
============================================================================ */
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 5rem; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #4f4840; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #4f4840; }

/* =========================================================================
   SIDEBAR NAVIGATION
============================================================================ */
.sidebar {
  background-color: #c69963;
  /* Grid layout */
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  /* Button in base file under button header */
  /* Centers the nav button */
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center;
      background-color: #f9f7f6; } }

/* =========================================================================
   HEADER
============================================================================ */
.header {
  background-color: #4f4840;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
  /* Grid layout */
  grid-column: full-start / col-end 6;
  /* Pseudo sub grid layout for header contents */
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(max-content);
  grid-row-gap: 1.5rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  @media only screen and (max-width: 28.125em) {
    .header {
      padding: 2.5rem; } }
  .header__logo {
    height: 4rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seen-on-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    padding-top: 2rem;
    font-size: 1.6rem;
    color: #aaa; }
    .header__seen-on-text::before, .header__seen-on-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seen-on-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    justify-items: center;
    padding-top: 3rem;
    align-items: center; }
    @media only screen and (max-width: 28.125em) {
      .header__seen-on-logos {
        padding-top: 1.8rem; } }
    .header__seen-on-logos img {
      max-height: 3rem;
      max-width: 100;
      filter: opacity(0.5); }
      @media only screen and (max-width: 28.125em) {
        .header__seen-on-logos img {
          max-height: 2rem; } }

/* =========================================================================
   REALTORS - OUR TEAM
============================================================================ */
.realtors {
  background-color: #101d2c;
  padding: 3rem;
  /* Grid layout */
  grid-column: col-start 7 / full-end;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 28.125em) {
    .realtors {
      padding-top: 5rem; } }
  .realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content);
        padding: 4rem 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .realtors__list {
        grid-template-columns: min-content max-content;
        grid-row-gap: 4rem;
        padding: 3rem; } }
  .realtors__img {
    width: 8rem;
    border-radius: 50%;
    display: block; }
  @media only screen and (max-width: 50em) {
    .realtors__details {
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .realtors__details {
      margin-right: 0; } }
  .realtors__contact {
    text-transform: uppercase;
    color: #aaa; }
  .realtors__contact:link, .realtors__contact:visited {
    text-decoration: none; }
  .realtors__contact:hover, .realtors__contact:active {
    color: #c69963; }

/* =========================================================================
   FEATURES
============================================================================ */
.features {
  /* Grid layout */
  grid-column: center-start / center-end;
  margin: 15rem 0;
  /* Pseudo sub grid layout for feature items */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 28.125em) {
    .features {
      margin: 10rem 0 6rem; } }

/* FEATURE COMPONENT
============================================================================ */
.feature {
  /* Pseudo sub grid layout for feature item contents */
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.25rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    /* Shifts the icon up */
    transform: translateY(-0.75rem); }
  .feature__text {
    font-size: 1.57rem; }

/* =========================================================================
   TESTIMONIAL
============================================================================ */
.testimonial__pictures {
  background-color: #c69963;
  background-image: linear-gradient(to bottom, rgba(16, 29, 44, 0.85), rgba(16, 29, 44, 0.85)), url(../img/back.jpg);
  /* Grid layout */
  grid-column: full-start / col-end 4;
  /* Grid container for the images */
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .testimonial__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.testimonial__img--1 {
  width: 100%;
  grid-row: 2 / 12;
  grid-column: 2 / 12;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .testimonial__img--1 {
      grid-column: 1 / 6;
      grid-row: 1 / -1;
      height: 100%;
      width: auto; } }

.testimonial__img--2 {
  width: 115%;
  grid-row: 2 / 6;
  grid-column: 7 / 13;
  z-index: 100;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .testimonial__img--2 {
      grid-row: 1 / -1;
      width: 100%; } }

.testimonial__content {
  background-color: #f9f7f6;
  /* Grid layout */
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  /* Flex container to align all content vertically centered */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .testimonial__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.testimonial__text {
  font-size: 1.5rem;
  font-style: italic; }

/* =========================================================================
   HOMES
============================================================================ */
.homes {
  margin: 15rem 0;
  /* Grid layout */
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.home {
  background-color: #f9f7f6;
  /* Grid container for the home content */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__image {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1; }
  .home__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #f9f7f6;
    /* SVG outline */
    stroke: #c69963;
    stroke-width: 1px;
    stroke-linejoin: round;
    /* Icon size */
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
  .home__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    width: 80%;
    z-index: 2;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #f9f7f6;
    font-weight: 400;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.25rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2.5rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

/* =========================================================================
   GALLERY
============================================================================ */
.gallery {
  background-color: #f9f7f6;
  /* Grid layout */
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / span 1; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / span 1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 1; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / span 1; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / span 1; }
  .gallery__img {
    /* Fits the image within the grid while not showing overlap
       aspect ratio is retained */
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

/* =========================================================================
   FOOTER
============================================================================ */
.footer {
  background-color: #101d2c;
  padding: 8rem;
  /* Grid layout */
  grid-column: full-start / full-end; }
  .footer .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center; }
    .footer .nav__link:link, .footer .nav__link:visited {
      font-size: 1.4rem;
      color: #f9f7f6;
      text-decoration: none;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s;
      background-color: rgba(249, 247, 246, 0.05); }
    .footer .nav__link:hover, .footer .nav__link:active {
      background-color: rgba(249, 247, 246, 0.1);
      transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 60%; }
  @media only screen and (max-width: 28.125em) {
    .copyright {
      width: 100%; } }
