/* =========================================================================
   VARIABLES
============================================================================ */

/* COLOR VARIABLES
============================================================================ */
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #4f4840;
$color-grey-dark-2: #38332e;

/* FONT VARIABLES
============================================================================ */
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

/* =========================================================================
   SPACING HELPERS
============================================================================ */

/* MARGIN HELPERS
============================================================================ */

/* MARGIN BOTTOM - SMALL */
.mb-sm {
  margin-bottom: 2rem;
}

/* MARGIN BOTTOM - MEDIUM */
.mb-md {
  margin-bottom: 3rem;
}

/* MARGIN BOTTOM - LARGE */
.mb-lg {
  margin-bottom: 4rem;
}

/* =========================================================================
   MEDIA QUERY
============================================================================ */

/* RESPONSIVE BREAKPOINTS
============================================================================ */

/* Breakpoint largest - 1200px */
$bp-largest: 75em;

/* Breakpoint large - 1000px */
$bp-large: 62.5em;

/* Breakpoint medium - 800px */
$bp-medium: 50em;

/* Breakpoint small - 600px */
$bp-small: 37.5em;

/* Breakpoint smallest - 450px */
$bp-smallest: 28.125em;

/* =========================================================================
   BASE STYLES
============================================================================ */

/* GLOBAL RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* BASE FONT STYLES */
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 8px/16px = 50% -> 1rem = 8px
  }
}

body {
  /* BASE FONT STYLES */
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 2.25rem;
}

/* BODY CONTAINER FOR GRID LAYOUT */
.container {
  /* GRID LAYOUT */
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

/* =========================================================================
   BUTTON STYLES
============================================================================ */

.btn {
  background-color: $color-primary;
  color: $color-grey-light-1;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    transform: translate(0.2rem, 0.2rem);
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: $color-grey-light-1;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: $color-grey-light-1;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;
    background-color: $color-primary;

    &::before,
    &::after {
      background-color: $color-primary;
    }

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }
}
