/* =========================================================================
   HEADER
============================================================================ */

.header {
  background-color: $color-grey-dark-1;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  padding-bottom: 6rem;

  /* Grid layout */
  grid-column: full-start / col-end 6;

  /* Pseudo sub grid layout for header contents */
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(max-content);
  grid-row-gap: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 2.5rem;
  }

  &__logo {
    height: 4rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seen-on-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    padding-top: 2rem;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seen-on-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    justify-items: center;
    padding-top: 3rem;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      padding-top: 1.8rem;
    }

    img {
      max-height: 3rem;
      max-width: 100;
      filter: opacity(0.5);

      @media only screen and (max-width: $bp-smallest) {
        max-height: 2rem;
      }
    }
  }
}
