/* =========================================================================
   SIDEBAR NAVIGATION
============================================================================ */

.sidebar {
  background-color: $color-primary;

  /* Grid layout */
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  /* Button in base file under button header */

  /* Centers the nav button */
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    justify-content: flex-end;
    align-items: center;

    background-color: $color-grey-light-1;
  }
}
